<script>console.log("All products", {{ block.settings.product_list | json }});</script>
{% render 'regions' %}

{% for cmp_product in block.settings.product_list %}
  <script>console.log({{ cmp_product.metafields.product_specs | json }});</script>
{% endfor %}

{% assign allMetafields = "" | split: "," %}
{% for product in block.settings.product_list %}
  {% for key in product.metafields.product_specs %}
    {% assign tag_in_array = key.first | sort %}
    {% assign allMetafields = allMetafields | concat: tag_in_array %}
  {% endfor %}
  {% assign allMetafields = allMetafields | uniq %}
{% endfor %}

<table>
  {% if block.settings.product_list != blank %}
    <tr>
      <th>Product</th>
      {% for product in block.settings.product_list %}
        <th>{{ product.title }}</th>
      {% endfor %}
    </tr>
  {% endif %}
  {% for key in allMetafields %}
    <tr class="row{{ forloop.index }} row-{{ key }}">
      <td class="spec-name" style="font-weight: bold">
        {{ key | capitalize }}
      </td>
      {% for product in block.settings.product_list %}
        <td class="spec-value">
          {% if product.metafields.product_specs[key].size > 0 %}
            {{ product.metafields.product_specs[key] | join: ", " }}
          {% else %}
            {{ product.metafields.product_specs[key] | default: 'N/A', allow_false: true }}
          {% endif %}

        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

{% schema %}
{
  "name": "Predefined Table",
  "target": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "product",
      "autofill": true
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "product list"
    },
    {
      "type": "color",
      "id": "colour",
      "label": "Star Colour",
      "default": "#ff0000"
    }
  ]
}
{% endschema %}
