{% render 'regions' %}

<script id="product-metafields" type="application/json">
  {
  "allProducts": {{ block.settings.collection.products | json }},
  "allMetafieldValues": {{ block.settings.collection.products | map: "metafields" | map: "product_specs" | json }},
  "tableVariant": {{ block.settings.table_variant | json }},
  "currentProduct": {{ product |  json }},
  "collection": {{ block.settings.collection.handle | json }},
  "metaobject": {{ shop.metaobjects.metafield_highlighting.values | json }}
  }
</script>

<script>
  const productData = JSON.parse(document.getElementById('product-metafields').innerText)
  const productMetafieldData = []
  for (let i=0; i < productData?.allProducts.length; i++) {
    const product = productData.allProducts[i]
    const metafield = productData.allMetafieldValues[i]
    productMetafieldData.push({ ...product, specs: metafield })
  }
  console.log(productMetafieldData)
  window.productMetafieldData = productMetafieldData
  window.tableVariant = productData.tableVariant
  window.currentProduct = productData.currentProduct
  window.collection = productData.collection
  window.metaobject = productData.metaobject
</script>

<div id="container" data-theme="light"></div>



{% schema %}
{
  "name": "Product Comparison Table",
  "target": "section",
  "javascript": "main.js",
  "stylesheet": "main.css",
  "settings": [
    {
      "type": "product",
      "id": "current_product",
      "label": "product",
      "autofill": true
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "table_variant",
      "label": "Table Variant",
      "options": [
        {
          "value": "multi-column",
          "label": "Multi-Column Comparison Table"
        },
        {
          "value": "two-column",
          "label": "Two-Column Comparison Table"
        },
        {
          "value": "predefined",
          "label": "Predefined Comparison Table"
        }
      ],
      "default": "multi-column"
    }
  ]
}
{% endschema %}
